.checkbox {
    $this: &;

    &__input {
        width: 1px;
        height: 1px;
        overflow: hidden;
        position: absolute;
        clip: rect(0 0 0 0);

        &:checked ~ #{$this}__style {
            background-color: var(--blue);
            border-color: var(--blue);
            background-position: center;
            background-size: 1.1rem 0.8rem;
            background-repeat: no-repeat;
        }

        &.error ~ #{$this}__style {
            border-color: var(--accent);
        }
    }

    &__style {
        position: relative;
        margin-right: var(--offset-xs);
        flex-shrink: 0;
        width: 2rem;
        height: 2rem;
        border: 0.1rem solid var(--gray-c2);
        border-radius: var(--brs);
    }

    &__text {
        @extend %text-12;

        a {
            text-decoration: underline;
        }
    }

    &__color {
        width: var(--icon-size-s);
        height: var(--icon-size-s);
        border-radius: 50%;
        margin-left: var(--offset-x);

        & + #{$this}__text {
            margin-left: 0.5rem;
        }
    }
}
