.check {
	$this: &;

	&-box {
		width: 1px;
		height: 1px;
		overflow: hidden;
		position: absolute;
		clip: rect(0 0 0 0);

		&:checked~#{$this}-style {
			background-color: var(--blue);
			border-color: var(--blue);

			&:before {
				@extend %pos-center-xy;
				@extend %bg-contain;
				content: '';
				width: 1.1rem;
				height: var(--offset-xs);
				position: absolute;
				//background-image: url(../images/icons/check.svg);
			}
		}

		&.error~#{$this}-style {
			border-color: var(--accent);
		}
	}

	&-style {
		position: relative;
		display: inline-block;
		width: 2rem;
		height: 2rem;
		flex-shrink: 0;
		border: 0.1rem solid var(--gray-c2);
		border-radius: $brs;
	}

	&-text {
		@extend %text-12;
		margin-left: var(--offset-xs);

		a {
			text-decoration: underline;
		}
	}

	&-color {
		width: var(--icon-size-s);
		height: var(--icon-size-s);
		border-radius: 50%;
		margin-left: var(--offset-x);

		&+#{$this}-text {
			margin-left: 0.5rem;
		}
	}
}

// ===================== RADIO ===================== //
.radio {
	$this: &;

	&-box {
		width: 1px;
		height: 1px;
		overflow: hidden;
		position: absolute;
		clip: rect(0 0 0 0);

		&:checked~#{$this}-style {
			border-width: 0.2rem;
			border-color: var(--blue);

			&::before {
				@extend %pos-center-xy;
				content: '';
				position: absolute;
				width: var(--offset-xs);
				height: var(--offset-xs);
				border-radius: 50%;
				background-color: var(--blue);
			}
		}
	}

	&-inner {
		position: relative;
		border: 0.1rem solid var(--gray-e0);

		&:after {
			transition: $transition all;
		}
	}

	&-title {
		cursor: pointer;
		margin-left: var(--offset-x);
	}

	&-style {
		display: block;
		position: relative;
		border-radius: 50%;
		width: 2rem;
		height: 2rem;
		flex-shrink: 0;
		border: 0.1rem solid var(--gray-c2);
		transition: $transition all;
	}
}
