.input {
    @extend %text-14;
    width: 100%;
    padding-bottom: 0.7rem;
    font-weight: 300;
    border: none;
    font-family: inherit;
    border-bottom: 0.1rem solid var(--gray-e0);

    @include input-placeholder {
        color: var(--gray-9e);
    }

    @include input-placeholder-focus {
        opacity: 0;
    }

    &:focus {
        border-bottom-color: var(--default);
    }
}

.form-item {
    position: relative;
    height: 5.2rem;
    display: flex;
    align-items: flex-end;

    input {
        &::placeholder {
            opacity: 0;
        }

        &:focus,
        &:not(:placeholder-shown),
        &:-webkit-autofill {
            & ~ .form-label {
                top: 0;
                transform: none;
                font-size: 1.2rem;
                color: var(--gray-61);
            }
        }
    }
}

.form-label {
    @extend %pos-center-y;
    @extend %text-14;
    position: absolute;
    font-weight: 300;
    color: var(--gray-9e);
    transition: $transition all;
}

input[type='number'] {
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }
}

input[type='number'] {
    -moz-appearance: textfield;
}

input[type='number']:hover,
input[type='number']:focus {
    -moz-appearance: number-input;
}
