.logo {
    // .logo__img

    &__img {
        width: 12.8rem;
        height: 3.5rem;
        object-fit: contain;

        @media(max-width: 1024px) {
            width: 12rem;
            height: var(--icon-size-l);
        }
    }
}
