.page {
	position: relative;
	padding-bottom: 16rem;

	@media (max-width: 1024px) {
		padding-bottom: 10rem;
	}

	@media (max-width: 767px) {
		padding-bottom: 5rem;
	}

	&__top {
		@extend %flex-row-center;
		flex-wrap: wrap;
		gap: var(--offset-ms);
		margin-bottom: 3rem;
	}
}
