.player-btn {
	@extend %pos-center-xy;
	position: absolute;
	width: 8rem;
	height: 8rem;
	border-radius: 50%;
	border: 0.1rem solid rgba(#fff, 0.7);
	transition: var(--transition) background-color;

	&::before {
		@extend %pos-center-y;
		content: '';
		position: absolute;
		left: calc(50% - 2.1rem / 2);
		width: 2.1rem;
		height: var(--icon-size);
		background-color: var(--white);
		clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
		transition: var(--transition) background-color;
	}

	@media (any-hover: hover) {
		&:hover {
			background-color: var(--white);

			&::before {
				background-color: var(--default);
			}
		}
	}
}
