$selectTitle: 5.2rem;

// Custom select
.select {
	position: relative;

	&__title {
		@extend %vertical-align;
		height: $selectTitle;
		cursor: pointer;
		border-bottom: 0.1rem solid var(--gray-e0);
		font-weight: 300;

		&.error {
			border-bottom-color: var(--accent);
			position: relative;

			&::before {
				@extend %text-12;
				content: '*Обязательное поле';
				position: absolute;
				left: 0;
				top: 100%;
				font-weight: 300;
				color: var(--accent);
			}
		}

		&.default {
			color: var(--gray-9e);
		}

		&::after {
			@extend %bg-contain;
			content: '';
			position: absolute;
			top: var(--offset-sm);
			right: 0;
			width: var(--icon-size);
			height: var(--icon-size);
			//background-image: url(../images/icons/drop-arr.svg);
			transition: $transition transform;

			@media (max-width: 767px) {
				width: var(--icon-size-s);
				height: var(--icon-size-s);
				top: 1.5rem;
			}
		}

		&.active {
			&::after {
				transform: rotate(180deg);
			}
		}
	}

	&__content {
		display: none;
		position: absolute;
		top: $selectTitle;
		left: 0;
		right: 0;
		width: 100%;
		z-index: 25;
		background-color: #fff;
		box-shadow: 0 1.4rem 1.6rem rgba(49, 49, 49, 0.06);
		padding: var(--offset-ms);
	}

	&__input {
		display: none;
	}

	&__label {
		display: block;
		position: relative;
		font-weight: 300;
		cursor: pointer;
		transition: $transition color;

		@media (any-hover: hover) {
			&:hover {
				color: var(--accent);
			}
		}

		&:not(:last-child) {
			margin-bottom: var(--offset-ms);
		}
	}
}
