.social {
	display: flex;
	flex-wrap: wrap;
	// .social__item

	&__item {
		@extend %vertical-align;
	}

	&__link {
		width: 100%;
		height: 100%;
		@extend %flex-center;

		svg {
			fill: var(--default);
			transition: var(--transition) fill;
		}

		@media (any-hover: hover) {
			&:hover {
				svg {
					fill: var(--accent);
				}
			}
		}

		&:focus,
		&:active {
			svg {
				fill: #d2290b;
			}
		}
	}
}
