.section-title {
    @extend %text-40;
    font-weight: 300;

    @media (max-width: 1024px) {
        font-size: 2.4rem;
    }

    &--size {
        &_s {
            font-size: 2.8rem;
            line-height: calc(40 / 28 * 100%);
        }
    }
}
