.video {
    position: relative;

    iframe {
        max-width: 100%;
        @extend %cover;
    }

    &__descr {
        position: absolute;
        top: var(--offset-ms);
        left: var(--offset-ms);
        z-index: 20;
        color: #fff;
    }

    &__bg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        @extend %cover;
    }
}
