.range-filter {
	@media (min-width: 1025px) {
		width: 27.7rem;
	}

	&__labels {
		@extend %flex-row;
		@include margin-y(var(--offset-x));
	}

	&__label {
		@extend %text-12;
		color: var(--gray-c2);
	}

	// .range-filter__range

	&__range {
		margin-bottom: var(--offset-x);
	}

	&__title {
		margin-bottom: 2.3rem;
	}

	&__items {
		display: grid;
		gap: var(--offset-ms);

		@media (min-width: 768px) and (max-width: 1024px) {
			column-gap: 3rem;
			grid-template-columns: repeat(2, 1fr);
		}
	}
}

.range-inputs {
	display: flex;
	border: 0.1rem solid var(--gray-ed);
	border-radius: var(--brs-4);
	// .range-values__item

	&__item {
		@extend %flex-row-center;
		width: 50%;
		padding: var(--offset-x) 1.5rem var(--offset-x) var(--offset-xxs);

		span {
			@extend %text-12;
			color: var(--gray-c2);
		}
	}

	&__item+&__item {
		border-left: 0.1rem solid var(--gray-ed);
	}

	&__input {
		width: 6.4rem;
		text-align: center;
		font-size: 1.4rem;
		line-height: 2.2rem;
		color: var(--default);
	}
}

.noUi {
    $this: &;

    &-target {
        border: none !important;
        background: var(--gray-ed) !important;
    }

    &-connects {
        border-radius: var(--brs-2) !important;
    }

    &-connect {
        background: var(--blue) !important;
    }

    &-horizontal {
        height: 0.4rem !important;

        #{$this} {
            &-handle {
                top: -0.55rem !important;
                right: -1rem;
                width: var(--offset-s) !important;
                height: var(--offset-s) !important;
                border-radius: 50% !important;
                background: var(--white) !important;
                border: 0.1rem solid var(--gray-ed) !important;
                box-shadow: none !important;

                &::before {
                    content: '';
                    position: absolute;
                    @extend %pos-center-xy;
                    width: var(--offset-xxs);
                    height: var(--offset-xxs);
                    border-radius: 50%;
                    background-color: var(--blue);
                }

                &:after {
                    display: none !important;
                }
            }
        }
    }
}