.select {
    --selectTitleHeight: 5.2rem;
    $this: &;

    position: relative;

    &__toggle {
        @extend %vertical-align;
        width: 100%;
        height: var(--selectTitleHeight);
        cursor: pointer;
        border-bottom: 0.1rem solid var(--gray-e0);
        font-weight: 300;

        &.error {
            border-bottom-color: var(--accent);
            position: relative;

            &::before {
                @extend %text-12;
                content: '*Обязательное поле';
                position: absolute;
                left: 0;
                top: 100%;
                font-weight: 300;
                color: var(--accent);
            }
        }

        &.default {
            color: var(--gray-9e);
        }

        &[aria-expanded="true"] {
            #{$this} {
                &__arrow {
                    transform: rotate(180deg);
                }
            }

            & ~ #{$this}__content {
                visibility: visible;
                opacity: 1;
                pointer-events: all;
            }
        }
    }

    &__arrow {
        position: absolute;
        top: var(--offset-sm);
        right: 0;
        width: var(--icon-size);
        height: var(--icon-size);
        background-size: contain;
        background-position: 100% 50%;
        background-repeat: no-repeat;
        transition: $transition transform;

        @media (max-width: 767px) {
            width: var(--icon-size-s);
            height: var(--icon-size-s);
            top: 1.5rem;
        }
    }

    &__content {
        position: absolute;
        top: var(--selectTitleHeight);
        left: 0;
        right: 0;
        width: 100%;
        z-index: 25;
        background-color: var(--white);
        box-shadow: 0 1.4rem 1.6rem rgba(49, 49, 49, 0.06);
        padding: var(--offset-ms);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: $transition all;
    }

    &__input {
        display: none;
    }

    &__label {
        display: block;
        position: relative;
        font-weight: 300;
        cursor: pointer;
        transition: $transition color;

        @media (any-hover: hover) {
            &:hover {
                color: var(--accent);
            }
        }

        &:not(:last-child) {
            margin-bottom: var(--offset-ms);
        }
    }
}
