// Стили для странмицы показа
._progress {
	min-height: 100vh;
	width: 100vw;
	@extend %flex-center;
	padding: 10rem 0;

	@media (max-width: 767px) {
		padding: 5rem 0;
	}
}

._progress__inner {
	@media (min-width: 768px) {
		columns: 2;
	}
}

._progress__link {
	display: block;
	font-size: 1.5vmax;
	margin-bottom: 10px;
	font-weight: 700;
	color: #222;
	transition: $transition opacity;

	@media (any-hover: hover) {
		&:hover {
			color: var(--accent);
			opacity: 0.5;
		}
	}
}
