.profile-personal {
    // .profile-personal__row

    &__row {
        @media (min-width: 768px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            row-gap: 5rem;
        }

        @media (min-width: 1025px) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas:
                'credentials contacts .'
                'security . .'
            ;
        }
    }

    // .profile-personal__item

    &__item {
        @extend %flex-col;
        align-items: flex-start;
        padding-bottom: 5rem;

        @media (max-width: 767px) {
            padding-bottom: 3rem;
        }

        &:nth-child(1),
        &:nth-child(2) {
            border-bottom: 0.1rem solid var(--gray-ed);
        }

        &--credentials {
            grid-area: credentials;
        }

        &--contacts {
            grid-area: contacts;
        }

        &--security {
            grid-area: security;
        }
    }

    &__item + &__item {
        @media (max-width: 767px) {
            margin-top: 3rem;
            padding-top: 3rem;
            border-top: 0.1rem solid var(--gray-ed);
        }
    }

    // .profile-personal__title

    &__title {
        font-weight: 300;
        color: var(--gray-61);
        margin-bottom: var(--offset-ms);
    }

    &__data-list {
        &:not(:last-child) {
            margin-bottom: var(--offset-s);
        }
    }

    // .profile-personal__data-item

    &__data-item {
        @extend %text-20-34;

        @media (max-width: 767px) {
            font-size: 1.6rem;
        }

        &:not(:last-child) {
            margin-bottom: var(--offset-xxxs);
        }
    }

    &__info {
        display: block;
        font-weight: 300;
        color: var(--gray-61);
        margin-top: 2.2rem;
    }
}
