.filters-result {
	// .filters-result__value
	display: flex;
	flex-direction: column;

	@media (min-width: 501px) {
		align-items: flex-end;
	}

	>* {
		&:not(:last-child) {
			margin-bottom: var(--offset-xxxxs);
		}
	}

	// .filters-result__value

	&__value {
		color: var(--gray-9e);
	}
}

.catalog-filters {
	@media (max-width: 1024px) {
		position: fixed;
		left: 0;
		right: 0;
		bottom: -150%;
		z-index: 201;
		height: 100vh;
		display: flex;
		align-items: flex-end;
		background-color: rgba(var(--default), 0.5);
		transition: $transition bottom;
	}

	&.active {
		@media (max-width: 1024px) {
			bottom: 0;
		}
	}

	&__body {
		@media (max-width: 1024px) {
			position: relative;
			width: 100%;
			height: calc(660 * 100vh / 800);
			background-color: #fff;
			padding: var(--offset-ms) var(--offset-s) 10.5rem;
			overflow-y: auto;
		}
	}

	&__close {
		position: absolute;
		top: var(--offset-s);
		right: var(--offset-s);
		width: 3rem;
		height: 3rem;
		display: none;

		@media (max-width: 1024px) {
			display: block;
		}
	}

	&__title {
		@extend %text-16;
		font-weight: 500;
		text-align: center;
		display: none;

		@media (max-width: 1024px) {
			display: block;
			padding-bottom: var(--offset-m);
			border-bottom: 0.1rem solid var(--gray-ed);
		}
	}

	// .catalog-filters__row

	&__row {
		@media (min-width: 1025px) {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			padding-bottom: 2.2rem;
			border-bottom: 0.1rem solid var(--gray-ed);
		}
	}

	// .catalog-filters__inner

	&__inner {
		@media (min-width: 1025px) {
			display: flex;
			flex-wrap: wrap;
			padding-right: 3rem;
			gap: var(--offset-xs);
		}

		&:not(:last-child) {
			@media (max-width: 1024px) {
				margin-bottom: 3rem;
			}
		}

		>* {
			&:not(:last-child) {
				@media (max-width: 1024px) {
					border-bottom: 0.1rem solid var(--gray-ed);
				}
			}
		}
	}

	// .catalog-filters__result

	&__result {
		display: none;

		@media (min-width: 1025px) {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
		}

		@media (min-width: 1025px) {
			display: flex;
		}

		>* {
			&:not(:last-child) {
				margin-bottom: var(--offset-xxxxs);
			}
		}
	}

	&__buttons {
		display: none;

		@media (max-width: 1024px) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			column-gap: var(--offset-s);
		}
	}

	&__btn {
		padding: 1.5rem;
	}
}

.catalog-filter {
	position: relative;

	&__title {
		width: 100%;
	}

	// .catalog-filter__title

	&__toggle {
		@extend %vertical-align;
		@extend %text-14;
		padding: 1.7rem 2.5rem;

		@media (min-width: 1025px) {
			background-color: var(--gray-f7);
			border-radius: 5rem;
			cursor: pointer;
			transition: $transition all;
		}

		@media (max-width: 1024px) {
			width: 100%;
			padding: var(--offset-ms) 0;
			justify-content: space-between;
		}

		svg {
			width: 1.4rem;
			height: var(--offset-xs);
			flex-shrink: 0;
			stroke: var(--default);
			transition: $transition transform,
				$transition stroke;

			@media (min-width: 1025px) {
				margin-left: var(--offset-xs);
			}

			@media (max-width: 500px) {
				width: 1.2rem;
				height: var(--offset-xxs);
			}
		}

		@media (any-hover: hover) {
			&:hover {
				background-color: var(--sky-blue);
				color: var(--blue);

				svg {
					stroke: var(--blue);
				}
			}
		}

		&[aria-expanded="true"] {
			@media (min-width: 1025px) {
				background-color: var(--sky-blue);
				color: var(--blue);
			}

			svg {
				transform: rotate(180deg);

				@media (min-width: 1025px) {
					stroke: var(--blue);
				}
			}
		}
	}

	// .catalog-filter__drop

	&__drop {
		@media (min-width: 1025px) {
			width: 31rem;
		}
	}
}

.drop-filter {
	padding: 3rem;

	@media (min-width: 1025px) {
		width: 20rem;
		min-width: max-content;
	}

	@media (max-width: 1024px) {
		padding: var(--offset-x) 0 var(--offset-ms);
	}

	@media (min-width: 1025px) {
		position: absolute;
		top: calc(100% + var(--offset-xxs));
		left: 0;
		z-index: 201;
		background-color: #fff;
		box-shadow: 0 1.4rem 1.6rem rgba(49, 49, 49, 0.06);
		border-radius: 3rem;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
	}

	@media (max-width: 1024px) {
		display: none;
	}

	&.active {
		@media (min-width: 1025px) {
			pointer-events: all;
			opacity: 1;
			visibility: visible;
		}
	}

	&__item {
		@extend %vertical-align;
		flex-direction: row-reverse;
		justify-content: flex-end;
		white-space: nowrap;
		cursor: pointer;
	}

	&__items {
		display: grid;
		row-gap: 1.5rem;
	}

	&__item-text {
		margin-left: var(--offset-sm);
	}

	// .price-filter__item-num

	&__item-num {
		@extend %text-12;
		color: var(--gray-61);
		margin-right: var(--offset-s);
		margin-left: auto;
	}

	.radio-box:checked+.radio-text {
		color: var(--blue);
	}
}

.range-filter {
	@media (min-width: 1025px) {
		width: 27.7rem;
	}

	&__labels {
		@extend %flex-row;
		margin-bottom: var(--offset-x);
	}

	&__label {
		@extend %text-12;
		color: var(--gray-c2);
	}

	// .range-filter__range

	&__range {
		margin-bottom: var(--offset-x);
	}

	&__title {
		margin-bottom: 2.3rem;
	}

	&__items {
		display: grid;
		gap: var(--offset-ms);

		@media (min-width: 768px) and (max-width: 1024px) {
			column-gap: 3rem;
			grid-template-columns: repeat(2, 1fr);
		}
	}
}

.range-inputs {
	display: flex;
	border: 0.1rem solid var(--gray-ed);
	border-radius: $brs-4;
	// .range-values__item

	&__item {
		@extend %flex-row-center;
		width: 50%;
		padding: var(--offset-x) 1.5rem var(--offset-x) var(--offset-xxs);

		span {
			@extend %text-12;
			color: var(--gray-c2);
		}
	}

	&__item+&__item {
		border-left: 0.1rem solid var(--gray-ed);
	}

	&__input {
		width: 6.4rem;
		text-align: center;
		font-size: 1.4rem;
		line-height: 2.2rem;
		color: var(--default);
	}
}

// jquery ui range slider
.ui-widget-content {
	background: var(--gray-ed) !important;
	border-radius: $brs-2 !important;
	height: 0.3rem;
}

.ui-widget.ui-widget-content {
	border: none !important;
}

.ui-corner-all {
	border-radius: $brs-2 !important;
}

.ui-slider-range {
	background: var(--blue) !important;
}

.ui-state-default,
.ui-widget-content .ui-state-default {
	width: var(--offset-s) !important;
	height: var(--offset-s) !important;
	border-radius: 50% !important;
	background: #fff !important;
	border: 0.1rem solid var(--gray-ed) !important;

	&::before {
		content: '';
		position: absolute;
		@extend %pos-center-xy;
		width: var(--offset-xxs);
		height: var(--offset-xxs);
		border-radius: 50%;
		background-color: var(--blue);
	}
}

.ui-slider-horizontal {
	height: 0.4rem !important;

	.ui-slider-handle {
		top: -0.55rem !important;
	}
}